@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


:root { 
    --cor-da-letra:#006eff;
    --cor-de-fundo: #fbff00;
    --fundo-senha: #ff6600;
    --fundo-texto: #a6ff00;
    --borda: #000000;
    --fonte:"Josefin Sans","sans-serif";
    --fonte2:"Bungee Spice","sans-serif";
}

body {
    color: var(--cor-da-letra);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);


}

.img{

    width: 80px;

}

.conteudo{

    text-align: center;
    font-size: 35px;
    
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;


}

.conteudo-senha {
    margin-top: 50px;
    background-color: var(--cor-de-fundo);
    padding: 40px;
    margin-left: 150px;
    margin-right: 200px;
    border: 4px solid var(--borda);
    
}
    
.titulo-principal {
    font-size: 50px;
    font-family: var(--fonte2);

}

.titulo-secundario{

    width: 300px;
    text-align: center;
    
    }

#campo-senha {
    background-color: var(--fundo-texto);
    border: none;
    color: var(--cor-da-letra);
    font-size: 30px;
    width: 50%;
}

#campo-senha:focus {
    outline:none ;

}